<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ARIMA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="/"><span>Crime Analysis Project</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="/#about">About</a></li>
            <li><a class="nav-link scrollto" href="/#services">Machine Learning</a></li>
            <li><a class="nav-link scrollto " href="/#portfolio">Visualizations</a></li>
            <li><a class="nav-link scrollto" href="/#team">Team</a></li>
            <li class="dropdown"><a href="#"><span> Graphs</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/page1">Crime and Demographics</a></li>
                <li><a href="/page5">Crime Time and Type</a></li>
                <li class="dropdown"><a href="#"><span>Machine Learning</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="/arima.html">ARIMA</a></li>
                    <li><a href="/prophet.html">Prophet</a></li>
                    <li><a href="/ml.html">Our Model</a></li>
                  </ul>
                </li>
                <li><a href="/page2">Crime Types & Total Count</a></li>
                <li><a href="/page3">Crime Count by Year </a></li>
                <li><a href="/page4">Crime Type by Zipcode</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="/#about">Get Started</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style="color: #862727">Time Series Forecasting - ARIMA Model - Summary</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>ARIMA Model</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

       <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><b>Step 1 - Data Preparation</b></p>
            <p>Atlanta crimes count is aggregated at daily level and is sorted by date ascending, 
                the target variable is the count of 'UCR Literal' per day. The date range is from 2009-01-01 to 2019-01-01.
                We used python performed data cleaning.
            </p>
            <pre>                       UCR Literal
                Possible Date New             
                2009-01-01                 116
                2009-01-02                 136
                2009-01-03                 113
                2009-01-04                  97
                2009-01-05                 129
                ...                        ...
                2019-12-27                  58
                2019-12-28                  61
                2019-12-29                  72
                2019-12-30                  90
                2019-12-31                  45
                
                [4017 rows x 1 columns]
            </pre>
            <p><b>Step 2 - Review Data</b></p>
            <p>To review data, and decide if it will be a good candidate for ARIMA model, we ran the following tests:
                <ul>
                    <li>Visualization</li>
                    <li>Statistical Test</li>
                </ul>
            <p>Visually, we have created the following plots to help us understand the data. We want to understand if our data is stationary or not, and whether there is any trend or seasonality. Time series plot told us that
            data has a downward trend in the past between 2009-2019. The downward trend shows more clearly in the seasonality decompose graph. The
            seasonality decompose graph also indicates there might be seasonality in the data set. The ACF and PACF graph shows us the coefficient among lags. Spikes in the ACF (at low lags) indicate non-seasonal MA terms. 
            Spikes in the PACF (at low lags) indicate possible non-seasonal AR terms. Therefore, we decide to use non-seasonal model for ARIMA.

            </p>
            <div>
            <caption>Time Series Plot</caption><br>
            <img src='../static/img/ARIMATimeSeriesPlot.png'/ width="800"><br>
            <caption>ACF and PACF plots</caption><br>
            <img src='../static/img/ACF.png'/>
            <img src='../static/img/PACF.png'/><br>
            <caption>Seasonality plot</caption><br>
            <img src='../static/img/Seasonality Check.png'/ width = '600' height ='300'>
            </div>         
            <p>Next, we did Augmented Dickey Fuller Test(ADF Test), to further confirm if we can use ARIMA model or not on this data set. As the result below
            indicated, P-Value is about 1%, and ADF value is smaller than the critical value, which indicates the data is stationary, and we can create ARIMA model.
            </p>
            <pre>
            1. ADF :  -3.397984473862071
            2. P-Value :  0.01102777294901886
            3. Num of Lags :  31
            4. Num of Observations Userd For ADF Regression and Critical Values Calculation : 3985
            5. Critical VAlues :
	        1% :  -3.431992036963141
	        5% :  -2.862265562109333
	        10% :  -2.567156224565458
            </pre>
            <p><b>Step 3 - Fit the model</b></p>
            <p>In this step, we first split the dataset to train and test. 80% data is used for training, and 20% is used for testing.
                To create ARIMA model, we need to decide p, d, q three parameters, using pmdarima python 
                library, we were able to run auto_arima function to select the hyper parameters with the lowest AIC(Akalike Information Criterion) score, the lower the AIC score, the less information is lost during the model training. The selected parameters are (4,1,3)</p>
            <pre>
                Performing stepwise search to minimize aic
                ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=31309.416, Time=2.25 sec
                ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=33429.326, Time=0.10 sec
                ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=32452.066, Time=0.22 sec
                ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=31320.183, Time=0.42 sec
                ARIMA(0,1,0)(0,0,0)[0]             : AIC=33427.332, Time=0.08 sec
                ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=31310.831, Time=1.95 sec
                ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=31311.163, Time=1.10 sec
                ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=31309.388, Time=3.10 sec
                ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=31311.738, Time=1.47 sec
                ARIMA(4,1,2)(0,0,0)[0] intercept   : AIC=31311.311, Time=3.25 sec
                ARIMA(3,1,3)(0,0,0)[0] intercept   : AIC=31226.818, Time=5.23 sec
                ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=5.22 sec
                ARIMA(4,1,3)(0,0,0)[0] intercept   : AIC=31200.432, Time=6.15 sec
                ARIMA(5,1,3)(0,0,0)[0] intercept   : AIC=31234.934, Time=7.19 sec
                ARIMA(4,1,4)(0,0,0)[0] intercept   : AIC=inf, Time=7.14 sec
                ARIMA(3,1,4)(0,0,0)[0] intercept   : AIC=inf, Time=6.86 sec
                ARIMA(5,1,2)(0,0,0)[0] intercept   : AIC=31309.114, Time=4.00 sec
                ARIMA(5,1,4)(0,0,0)[0] intercept   : AIC=31211.518, Time=7.64 sec
                ARIMA(4,1,3)(0,0,0)[0]             : AIC=31177.958, Time=3.67 sec
                ARIMA(3,1,3)(0,0,0)[0]             : AIC=31203.767, Time=3.13 sec
                ARIMA(4,1,2)(0,0,0)[0]             : AIC=31309.639, Time=1.99 sec
                ARIMA(5,1,3)(0,0,0)[0]             : AIC=31252.722, Time=4.13 sec
                ARIMA(4,1,4)(0,0,0)[0]             : AIC=inf, Time=4.46 sec
                ARIMA(3,1,2)(0,0,0)[0]             : AIC=31307.717, Time=1.46 sec
                ARIMA(3,1,4)(0,0,0)[0]             : AIC=inf, Time=4.00 sec
                ARIMA(5,1,2)(0,0,0)[0]             : AIC=31307.451, Time=1.97 sec
                ARIMA(5,1,4)(0,0,0)[0]             : AIC=inf, Time=4.73 sec
               
               Best model:  ARIMA(4,1,3)(0,0,0)[0]          
               Total fit time: 92.949 seconds
            </pre>
            <p>Train the model with ARIMA(4,1,3)(0,0,0)[0] took about 2 hours for this dataset</p>
            <p><b>Step 4 - Evaluate the Model</b></p>
            <p>The graph below shows output of the predicated test data and actual test data.</p>
            <img src='../static/img/arimapredactual.png'/>
            <p>The graph shows a promising predicated value, however, when we calcuated R squared, it is only 0.20. In addition, we also 
                calcuated RMSE score, which is about 10, and the mean of the data set is 65. It doesn't look great, but we decided to go
                ahead use the model to perform forecast for the next 2 years and observe what happens.
            </p>
            <p><b>Step 5 - Forecasting</b></p>
            <pre>
                            prediction
                2020-01-01   68.634197
                2020-01-02   66.083242
                2020-01-03   67.557436
                2020-01-04   67.853603
                2020-01-05   65.158929
                ...                ...
                2021-12-27   57.870255
                2021-12-28   60.070582
                2021-12-29   58.840437
                2021-12-30   57.161073
                2021-12-31   59.110697      
            </pre>
            <img src='../static/img/ForecastingResult.png'/>
            <p><b>Valuable Lesson Learned</b></p>
            <p>Understand data is the critical first step before creating any model. 
            Different ML models require different characristic of data. 
            If the data isn't a good candidate for certain ML models, 
            it won't work as expected even with tuning the hyper-parameters.</p>
            <p>Even though the model didn't work as good as we want it to be, 
            during this process, we have learned the ML project life cycle. Data gathering, cleaning, analyzing,
            feature selection, model selection, train/test split data set, train the model, test the model, evaludate the model, and deploy the model.
            This is a great learning experience, and certainly, this is just the beginning of a long learning journey, and we are very excited for what other things we will learn.</p>     
        </div>
        </div>
        </div>


  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Georgia Tech Bootcamp Project</h3>
          
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a nav-link scrollto href="/#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a nav-link scrollto href="/#team">About us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Data Sources</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.atlantapd.org/i-want-to/crime-data-downloads
                " target="_blank">Atlanta's Crime Data </a></li>
              
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Bethany</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main JS File -->
  <script src="../static/js/betmain.js"></script>

</body>

</html>