<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customers Form</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
        <div class="container">
            <div class="row">
              <div class="col-lg-6" data-aos="fade-right">
                <h1>CONTACT</h1>
                <p>If you want further information about our project please leave us your contact details and message below.</p>
            </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <!-- ======= CONTACT DETAILS!  ======= -->
                    <form method="POST" action="/send" role="form", name="contactform">
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <label for="inputClientname">Name</label>
                          <input type="text" class="form-control" name="clientname" id="inputClientname" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                          <label for="inputEmail">Email</label>
                          <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Your Email" required>
                        </div>
                      </div>
                      <div class="form-group mt-3">
                        <label for="inputSubject">Subject</label>
                        <input type="text" class="form-control" name="subject" id="inputSubject" placeholder="Subject" required>
                      </div>
                      <div class="form-group mt-3">
                        <label for="inputMessage">Message</label>
                        <textarea type= "text" class="form-control" name="message" rows="5" id= "inputMessage" placeholder="Message" required></textarea>
                      </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

        </div>

    </body>

</html>
