<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customers Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
        <div class="container">
            <div class="row">
              <div class="col-lg-6" data-aos="fade-right">
                <h1>CONTACT</h1>
                <p>If you want further information about our project please leave us your contact details and message below.</p>
            </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <!-- ======= CONTACT DETAILS!  ======= -->
                    <form method="POST" action="/api/customers" id = "add-todo", role="form", name="contactform">
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                      </div>
                      <div class="form-group mt-3">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                      </div>
                      <div class="form-group mt-3">
                        <label for="message">Message</label>
                        <textarea type= "text" class="form-control" name="message" rows="5" id= "message" placeholder="Enter Message" required></textarea>
                      </div>
                        <button type="submit" value="submit" class="btn btn-default"> Submit </button>
                    </form>
                    <!-- ======= CONTACT FEEDBACK!  ======= -->

                    <h3 class="text-center">Here are my todos</h3>
                    <div id="todo-list"></div>
                </div>
              
            </div>

        </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="../static/js/main.js"></script>
    </body>

</html>
