<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Machine Learning</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><a href="/"><span>Crime Analysis Project</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="/#about">About</a></li>
            <li><a class="nav-link scrollto" href="/#services">Machine Learning</a></li>
            <li><a class="nav-link scrollto " href="/#portfolio">Visualizations</a></li>
            <li><a class="nav-link scrollto" href="/#team">Team</a></li>
            <li class="dropdown"><a href="#"><span> Graphs</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/page1">Crime and Demographics</a></li>
                <li><a href="/page5">Crime Time and Type</a></li>
                <li class="dropdown"><a href="#"><span>Machine Learning</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="/arima.html">ARIMA</a></li>
                    <li><a href="/prophet.html">Prophet</a></li>
                    <li><a href="/ml.html">Our Model</a></li>
                  </ul>
                </li>
                <li><a href="/page2">Crime Types & Total Count</a></li>
                <li><a href="/page3">Crime Count by Year </a></li>
                <li><a href="/page4">Crime Type by Zipcode</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="/#about">Get Started</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style="color: #862727">Try our model</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Model in Action</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    
    <section class="inner-page">
      <div class='container'>
      <div class="row">
        <div class="col-md-12">
        <label for="start">Start Date:</label>
        <input type="date" id="start" value="2020-01-01"
          min="2020-01-01" max="2021-12-31"/>
        <label for="start">End Date:</label>
        <input type="date" id="end" value="2020-01-01"
          min="2020-01-01" max="2021-12-31"/>
        <button id="result">Forecast</button>
        </div>
        <div class='row'>
        <div class="col-md-12" style="height:400px;overflow:auto">
        <table id="pred_result" class="table table-striped">
          <thead>
            <tr>
              <th class="table-head">Date</th>
              <th class="table-head">ARIMA Result</th>
              <th class="table-head">Prophet Result</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      </div>
      <div class="col-md-12">
      <div id = 'myDiv'></div>
      </div>
      </div>
    </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
  </div>
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Georgia Tech Bootcamp Project</h3>
          
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a nav-link scrollto href="/#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a nav-link scrollto href="/#team">About us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Data Sources</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.atlantapd.org/i-want-to/crime-data-downloads
                " target="_blank">Atlanta's Crime Data </a></li>
              
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Bethany</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   <!-- JS file-->
   <script src="https://d3js.org/d3.v7.min.js"></script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/ml.js"></script>
  <!-- erase betmain.js-->


</body>

</html>